body
{
    margin: 0;
    padding: 0;
}

h1
{
    background-color: rgb(254, 248, 131);
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

div
{
    border: solid rgb(255, 176, 252);
    margin: 10px;
    padding: 10px;
}

h3
{
    color: rgb(171, 84, 242);
}

.azul
{
    color: rgb(232, 214, 13)
}

.negrito
{
    font-weight: bold;
}

.italico
{
    font-style: italic;
}

.sublinhado
{
    text-decoration: underline;
}

.destaque
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.cursiva
{
    font-family:'Lucida Handwriting';
    font-size: 20px;
    color: rgb(205, 102, 219);
}

.google
{
    font-family: 'Kalnia Glaze';
    font-size: 22px;
}